@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

@font-face {
    font-family: "w3w-font";
    src: url("../fonts/w3w-grid.eot");
    src: url("../fonts/w3w-grid.eot#iefix") format("embedded-opentype"), url("../fonts/w3w-grid.woff") format("woff"), url("../fonts/w3w-grid.ttf") format("truetype"), url("../fonts/w3w-grid.svg#w3w-grid") format("svg");
    font-weight: normal;
    font-style: normal;
}

.w3w-logo {
    display: inline-block;
    font: normal normal normal 14px/1 "w3w-font";
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.w3w-logo:before {
    content: "\e800";
}

.w3w-white {
    color: #fff;
}

.w3w-red {
    color: #e11f26;
}

.w3w-red-bg {
    background: #e11f26;
}

.w3w-dark-blue {
    color: #0a3049;
}

.w3w-dark-blue-bg {
    background: #0a3049;
}

.square {
    margin-top: 3px;
    float: left;
    width: 20px;
    height: 20px;
}

.w3w-embed {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 10px 0;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    text-align: left;
    color: #333;
}

.w3w-embed .w3w-popup {
    display: none;
}

.w3w-embed .w3w-popup:before {
    position: absolute;
    content: '';
    display: block;
    left: calc(50% - 20px);
    bottom: 2px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #4d4d4d;
}

.w3w-embed:hover .w3w-popup {
    display: block;
    position: absolute;
    backgorund: transparent;
    left: 0;
    bottom: 20px;
    color: #FFF;
    width: 100%;
    font-size: 10px;
    box-sizing: border-box;
}

.w3w-embed .w3w-popup .w3w-popup-inner {
    background: #4d4d4d;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
    font-weight: 200;
    text-align: left;
    line-height: 1.2;
}



.w3w-embed:hover .w3w-popup a {
    color: #FFF !important;
    text-decoration: underline !important;
}

.w3w-embed .w3w-address {
    white-space: nowrap;
}

.w3w-embed .w3w-address .w3w-logo {
    margin-right: 5px;
    vertical-align: middle;
}

.w3w-link-to-mapsite, .w3w-link-to-mapsite:hover {
    text-decoration: none;
    color: #333;
}

.w3w-link-to-mapsite .w3w-popup {
    text-decoration: none;
}

/* small */

.w3w-embed.w3w-small .w3w-logo {
    font-size: 20px;
}


/* medium */

.w3w-embed.w3w-medium .w3w-logo {
    font-size: 30px;
}

.w3w-embed.w3w-medium .w3w-address {
    font-size: 24px;
}

.w3w-embed.w3w-medium:hover .w3w-popup {
    bottom: 30px;
}


/* large */

.w3w-embed.w3w-large .w3w-logo {
    font-size: 38px;
    margin-right: 10px;
    margin-top: -2px;
}

.w3w-embed.w3w-large .w3w-address {
    font-size: 30px;
}

.w3w-embed.w3w-large:hover .w3w-popup {
    bottom: 35px;
}



/* light */

.w3w-embed.w3w-light {
    color: #FFF;
}

.w3w-embed.w3w-light .w3w-popup:before {
    border-top: 10px solid #fff;
}

.w3w-embed.w3w-light .w3w-popup .w3w-popup-inner {
    background: #FFF;
    color: #4d4d4d;
}

.w3w-embed.w3w-light:hover .w3w-popup a {
    color: #4d4d4d;
    text-decoration: underline;
}


/* light-red */

.w3w-embed.w3w-light-red {
    color: #FFF;
}

.w3w-embed.w3w-light-red .w3w-logo {
    color: #e11f26 !important;
}

.w3w-embed.w3w-light-red .w3w-popup:before {
    border-top: 10px solid #fff;
}

.w3w-embed.w3w-light-red .w3w-popup .w3w-popup-inner {
    background: #FFF;
    color: #4d4d4d;
}

.w3w-embed.w3w-light-red:hover .w3w-popup a {
    color: #4d4d4d;
    text-decoration: underline;
}


/***************************************************/
/* Generator Styles //
/^**************************************************/
.panel {
        padding: 2rem;
}

.panel.dark {
    background: #4d4d4d;
}

.panel.dark h3, .panel.dark h4 {
    color: #FFF;
}